<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">

    <title>New Link Generated</title>

</head>
<body>
    <div class="loading-screen">
        <div class="loader"></div>
    </div>

    <div class="header">
        <h1>Bundle Link</h1>
        <button class="add-button" id="test-button">+</button>
    </div>
    <hr style="width: 100%; border-color: lightgrey; border-width: 1px"> 

    <form method="POST">
            <div id="textboxContainer">
                <label for="textbox1">Link 1:</label>
                <input type="text" id="textbox1" name="textbox1"><br>
                <label for="textbox2">Link 2:</label>
                <input type="text" id="textbox2" name="textbox2"><br>
            </div>     
        </form>
        
        <div class="buttons" id="buttons">
            <hr style="width: 100%; border-color: lightgrey; border-width: 1px"> 
            <input id="submit" type="submit" value="Submit">    
        </div>

</body>
<script type="module" src="../assets/js/popup.js"></script>

</html>