<!DOCTYPE html>
<html>
<head>
    <title>New Link Generated</title>
    <style>
        body {
            text-align: center;
        }
        
        h1 {
            margin-top: 50px;
        }
        
        p {
            margin-top: 20px;
        }
        
        .link {
            font-size: 18px;
            font-weight: bold;
            color: blue;
        }
        html{
            min-height: 5em;
            min-width:  10em;
            background: salmon;
        }
        
    </style>
</head>
<body>
    <h1>Generate link</h1>
        <form method="POST" action="/makeLink">
            <div id="textboxContainer">
                <label for="textbox1">Textbox 1:</label>
                <input type="text" id="textbox1" name="textbox1"><br>
                <label for="textbox2">Textbox 2:</label>
                <input type="text" id="textbox2" name="textbox2"><br>
              </div>
            <input type="submit" value="Submit">         
        </form>
        <button id="select-generate-textbox">Add Another Textbox</button>
</body>

<script src="assets/js/generateTextbox.js"></script>
</html>