<!DOCTYPE html>
<html>
<head>
    <title>New Link Generated</title>
    <style>
        body {
            text-align: center;
        }
        
        h1 {
            margin-top: 50px;
        }
        
        p {
            margin-top: 20px;
        }
        
        .link {
            font-size: 18px;
            font-weight: bold;
            color: blue;
        }
        html{
            min-height: 5em;
            min-width:  10em;
            background: salmon;
        }
    </style>
</head>
<body>
    <h1>New Link Generated</h1>
    <p>Copy the following link:</p>
    <a href="{{ new_link }}">{{ new_link }}</a>
</body>
</html>