<!DOCTYPE html>
<html>
<head>
    <title>New Link Generated</title>
    <style>
        body {
            text-align: center;
        }
        
        h1 {
            margin-top: 50px;
        }
        
        p {
            margin-top: 20px;
        }
        
        .link {
            font-size: 18px;
            font-weight: bold;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Links: </h1>
    <h1>This tab will be closed automatically.</h1>
    <script>
        window.close();  // Close the current tab/window
    </script>
    <!-- obsolete code since we open links via webbrowser.open() -->
    {% if links %}
        {% for link in links %}
            <a href={{link}} target="_blank" rel="noopener noreferrer">open link</a>            
            <l>{{ link }}</l><br>
        {% endfor %}
        <a href= http://www.google.com target="_blank" rel="noopener noreferrer">google test</a>            
    {% else %}
        <p>invalid link.</p>
    {% endif %}
    <!-- obsolete code since we open links via webbrowser.open() -->

</body>
</html>